
body{
	display: grid;
	grid-template-areas: "header ies ies" 
						 "modulo modulo autor" 
						 "main main aside" 
						 "footer footer aside";
	font-family: Arial, Helvetica, sans-serif;
	grid-template-rows: 150px 100px 400px 50px;
}


header{
	background: rgb(185, 9, 9);
	grid-area: header;
	text-align: center;
	font-size: 4em;
}

section{
	background: cyan;
	grid-area: modulo;
	border-radius: 30px 0px; /*Este sirve para los vordes del section*/
	display: flex;
	justify-content: space-between;
	align-content: center;
}

nav {
	background: cadetblue;
	grid-area: ies;
	text-align: center;
}


main{
	background: #b45262;
	grid-area: main;
	text-align: center;
}

aside{
	background: #a51265;
	grid-area: aside;
	border-radius: 50px 20px;
	display: flex;
	flex-flow: column;
	align-content: center;
	justify-content: space-around;
	text-align: center;
}

footer{
	background: rgb(53, 53, 218);
	grid-area: footer;
	display: flex;
	justify-content: space-around;
	align-content: center;
	border-radius: 30px; /*Este sirve para los vordes del footer*/
}

autor{
	background: rgb(2, 2, 223);
	grid-area: autor;
	display: flex;
	align-content: center;
  text-align: center;
  border-radius: 30px 0; /*Este sirve para los vordes del footer*/
}


section p{
	padding: 15px;
	margin: 10px;
}
main p {
    margin: 20px 0 0 20px;
}

aside p:hover {
	background: rgb(9, 95, 9);
	color: white;
	cursor: pointer;
}

aside p { /*Este es para los botones del aside*/
	border-radius: 20px; /*Este sirve para los vordes de los botones del aside*/
	border: 1px solid #fff; /*Este le aplica el borde blanco al rededor del boton*/
	padding: 10px; /*delimita la anchura del boton con respecto al texto de dentro, por defecto lo pondria igual de ancho que el texto*/
	margin: 10px; /*delimota los margenes que hay ente el contenedor aside y los lados del boton*/
	background: rgba(151, 140, 140, 0.4); /*para asignar un color al boton*/
}


header,nav,section,main,footer,autor,aside{
	padding: 5px;
}